/* основной цвет заголовков | color: #212121; */
/* масивный текст | color: #757575; */
/* белый цвет (фон,герой) | color: #ffffff; */
/* цвет ссылок | color: #2196f3; */
/* footer color: #2f303a; */
/* our team (фон) | background: #f5f4fa */

:root {
  --main-color-titles-color: #212121;
  --massive-text-color: #757575;
  --title-text-color: #2f303a;
  --color-forces-color: #2196f3;
  --white-bg-color: #ffffff;
  --footer-background-color: #2f303a;
  --our-team: #f5f4fa;
  --main-letter-spacing: 0.03em;
}

:visited {
  color: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: var(--main-letter-spacing);
  color: var(--massive-text-color);
  background-color: var(--white-bg-color);
}

/* основное лого */

.logo-black {
  color: black;
}

.heder-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}

.main-hero {
  background: #2f303a;
}

.navigation-list {
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}
.adress-mail-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.adress-mail-link:hover,
.adress-mail-link:focus {
  color: #2196f3;
}

.adress-phone-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}
.adress-phone-link:hover,
.adress-phone-link:focus {
  color: #2196f3;
}

.main-hero-modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}
.main-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.basic-tricks-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.basic-tricks-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
.what-we-do-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.our-team-photo-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.our-team {
  background: #f5f4fa;
}
.nav-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}
.nav-title:hover,
.nav-title:focus {
  background-color: #2196f3;
}
.teamwork-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.teamwork-list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* футер лого */

.footer-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-white {
  color: #ffffff;
}

.footer {
  background: #2f303a;
}

.footer-map {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-map:hover,
.footer-map:focus {
  color: #2196f3;
}

.footer-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
  color: #2196f3;
}

.footer-phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone:hover,
.footer-phone:focus {
  color: #2196f3;
}
